@media screen and (min-width:375px)/*Mobile*/
{
	body
	{
		font-family:'Roboto', sans-serif;
		font-style:normal;
		font-size:1.2rem;
		color:#232942
	}
	#sub-form h1
	{
		font-size:3rem
	}
	#sub-form table
	{
		margin-block:20px
	}
	#sub-form .img
	{
		vertical-align:top;
		padding-top:5px
	}
	#sub-form .span
	{
		padding-left:10px
	}
	#sub-form #heading
	{
		margin-bottom:10px;
		margin-top:40px;
		display:flex;
		justify-content:space-between
	}
	#sub-form h6
	{
		margin:0
	}
	#sub-form #heading #valid-heading
	{
		color:hsl(4, 100%, 67%)
	}
	#sub-form input
	{
		display:block;
		padding:15px;
		border-radius:8px;
		border:1px solid hsl(231, 7%, 60%);
		box-sizing:border-box;
		margin-bottom:20px
	}
	#sub-form input.invalid
	{
		background:hsl(4, 100%, 67%, 19%);
		color:hsl(4, 100%, 67%);
		border:1px solid hsl(4, 100%, 67%)
	}
	#sub-form button
	{
		background-color:#232942;
		color:white;
		padding:15px;
		font-weight:700;
		border:none;
		border-radius:8px;
		margin-bottom:10px
	}
	#success-panel button
	{
		background-color:#232942;
		color:white;
		padding:15px;
		font-weight:700;
		border:none;
		border-radius:8px
	}
	#sub-form button:active, #success-panel button:active
	{
		background-image:linear-gradient(to right, hsl(340, 82%, 52%), hsl(4, 100%, 67%))
	}
	#sub-form input, #sub-form button, #success-panel button
	{
		width:100%
	}
	#success-panel
	{
		padding:40px;
 		display:flex;
		flex-direction:column;
		justify-content:space-between
	}
	#success-panel #flex
	{
		height:100%;
		display:flex;
		align-items:center
	}
	footer
	{
		width:100%;
		position:relative;
		bottom:5px;
		font-size:.8rem;
		text-align:center
	}
	footer div
	{
		display:inline-block
	}
	footer p
	{
		margin:0
	}
}
@media screen and (min-width:1440px)/*Desktop*/
{
	body
	{
		background-color:#36384d;
		font-family:'Roboto', sans-serif;
		font-style:normal;
		font-size:1.2rem
	}
	main
	{
		display:flex;
		justify-content:center;
		align-items:center
	}
	#sub-form
	{
		width:950px;
		height:653px;
		background-color:white;
		border-radius:25px;
		padding:15px;
		color:#232942;
		display:flex;
		flex-direction:row-reverse
	}
	#sub-form #flex
	{
		width:100%;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		justify-content:center;
		align-content:center
	}
	#sub-form #flex #flex-content
	{
		width:440px
	}
	#sub-form #space
	{
		width:50px
	}
	#sub-form h1, #success-panel h1
	{
		font-size:3rem;
		margin-top:0
	}
	#sub-form ul
	{
		list-style-type:none;
		padding:0
	}
	#sub-form li
	{
		display:flex;
		margin-bottom:10px
	}
	#sub-form li span
	{
		padding-top:2px;
		padding-left:15px
	}
	#sub-form #heading
	{
		margin-bottom:10px;
		margin-top:40px;
		width:97%;
		display:flex;
		justify-content:space-between
	}
	#sub-form h6
	{
		margin:0
	}
	#sub-form #heading #valid-heading
	{
		color:hsl(4, 100%, 67%)
	}
	#sub-form input
	{
		background:transparent;
		display:block;/*Primary => <Tomato>hsl(4, 100%, 67%)
Neutral => <Dark Slate Grey>hsl(234, 29%, 20%), <Charcoal Grey>hsl(235, 18%, 26%), <Grey>hsl(231, 7%, 60%)*/
		padding:15px;
		border-radius:8px;
		border: 1px solid hsl(231, 7%, 60%);
		box-sizing:border-box;
		margin-bottom:20px
	}
	#sub-form input.invalid
	{
		background:hsl(4, 100%, 67%, 19%);
		color:hsl(4, 100%, 67%);
		border:1px solid hsl(4, 100%, 67%)
	}
	#sub-form button, #success-panel button
	{
		background-color:#232942;
		color:white;
		padding:15px;
		font-weight:700;
		border:none;
		border-radius:8px
	}
	#sub-form button:active, #success-panel button:active
	{
		background-image:linear-gradient(to right, hsl(340, 82%, 52%), hsl(4, 100%, 67%))
	}
	#sub-form input, #sub-form button
	{
		width:97%
	}
	#success-panel
	{
		width:272px;
		background-color:white;
		padding:46px;
		color:#232942;
		border-radius:20px
	}
	#success-panel img
	{
		margin-bottom:30px;
		width:50px
	}
	#success-panel p
	{
		font-size:.9rem
	}
	#success-panel button
	{
		width:100%
	}
	footer
	{
		width:100%;
		position:fixed;
		bottom:5px;
		text-align:center;
		font-size:.8rem;
		color:white
	}
	footer div
	{
		display:inline-block
	}
	footer p
	{
		margin:0
	}
	footer a
	{
		color:#00a9ff
	}
}
